<h1>Details</h1>
<h2>{{place.name}}</h2>
<p>{{place.address}}</p>
<p>{{place.category}}</p>
<p>{{place.description}}</p>
<p>{{place.tag}}</p>
<p>{{place.rating}}</p>


<a href="/favoritesPlaces/{{place._id}}/edit">Edit this place</a>

<form action="/favoritesPlaces/{{place._id }}/delete" method="POST">
<button type="submit">Delete</button> </form>


<a href="/favoritesPlaces">Go to back to the list</a>
