<h1>Details</h1>
<div>{{place.name}}</div>
<p>{{place.description}}</p>
<p>{{place.rating}}</p>

 <a href="/favoritesPlaces" >
  <button id="saveLocation" >Save location</button></a>

<form action="/favoritesPlaces/{{place._id }}/delete" method="POST">
<button type="submit">Delete</button> </form>

 {{!-- <form action="/favoritesPlaces/{{ this._id }}/delete" method="POST">
  <button type="submit">Delete</button>
  </form>  --}}


  <div id='map'>
  </div>