<!--nav --> 
<section class="flexbox nav ">
<a href="/logout">Logout</a>
<a href="/" class=> back to landingpage</a>
<h2 class="logo">Wander</h2>

 <!--sidebar Place Details --> 
 <section class="flexbox ">
    <input type="checkbox" id="check">
    <label for="check">
      <i class="fa fa-bars" aria-hidden="true" id="btn"></i>
      <i class="fas fa-times" id="cancel"></i>
    </label>

    <div class="sidebar">
    <header class ="header-name"> Place Details</header>
    <!--search-bar-->
        <div class ="search-bar ">
             <div id="geocoder" class="geocoder"></div>
          <a href="/favoritesPlaces" >
          <button id="saveLocation" >Save location</button></a>
           </div>
    <!--body of sidebar -->
    <div class="profile-card">
      <div class="card-header flexbox column"> 
      <div class = 'favorite-place-list flexbox column '> 
<h2 class = "name">{{place.name}}</h2>
<p>{{place.address}}</p>
<p>{{place.category}}</p>
<p>{{place.description}}</p>
<p>{{place.tag}}</p>
<p>{{place.rating}}</p>


 <a href="/favoritesPlaces" >
<a href="/favoritesPlaces/{{place._id}}/edit">Edit this place</a>

<form action="/favoritesPlaces/{{place._id }}/delete" method="POST">
<button type="submit">Delete</button> </form>
  <a href="/" class=> back</a>
  </div>
</div> <!--end of card header-->
 </section>
 </section>
  
  
